/* styles.css */

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Estilos do menu dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Estilos do conteúdo */
#content {
  margin: 20px;
}

#random-verse,
#book-chapters,
#chapter-content {
  display: none;
  margin-bottom: 20px;
}

#chapter-title {
  font-size: 1.2em;
  font-weight: bold;
}

#verses p {
  margin-bottom: 10px;
}

#book-buttons {
  text-align: center;
}

button {
  display: inline-block;
  padding: 10px;
  background-color: white;
  border: 1px solid gray;
  margin: 5px;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}

button:hover {
  background-color: lightgray;
}
